.feedback-table-centre-td,
.feedback-table-centre-th {
  text-align: center;
}

#admin-feedback-form {
  display: none;
}

.feedback-warning {
  color: red;
}

label#edit-feedback-label,
#feedback-msg-answers legend {
  display: block;
  font-weight: normal;
  margin-bottom: 1rem;
}

.admin_feedback__progress_bar .progress__bar {
  width: 100%;
  animation: admin_feedback_progress-bar-animation cubic-bezier(1, .25, .75, 1);
  min-width: unset;
}

@keyframes admin_feedback_progress-bar-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
